* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  max-width: 100vw;
  min-height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
}

ul,
li {
  list-style-type: none;
}

header {
  padding: 1rem;
  background-color: #cee3f8;
  grid-row: 1/2;
  grid-column: 1/3;
}

header ul {
  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
  gap: 1rem;
}

.link-header {
  display: flex;
  align-items: flex-end;
  font-size: larger;
}

.logo {
  display: flex;
  gap: 1rem;
}

.logo p {
  font-size: xx-large;
  font-weight: 500;
}

.logo img {
  width: 50px;
}

.google-username span {
  font-size: larger;
  font-weight: bold;
}

.signout {
  width: 100px;
  height: 25px;
  float: right;
}

.subreddit-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  float: right;
  padding: 1rem;
  margin: 1rem;
  width: max-content;
  grid-column: 2/3;
}

.create-subreddit-form {
  display: flex;
  flex-direction: column;
}

#search {
  height: 25px;
}

.subreddit {
  padding: 2.5rem;
  grid-row: 2/3;
}

.post {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: fit-content;
}

.post-title {
  display: flex;
}

.thread-title {
  display: flex;
}

.post-score {
  font-size: larger;
  text-align: center;
}

.upvote-downvote {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.upvote-downvote img {
  width: 20px;
}

.score-wrapper {
  display: flex;
  gap: .5rem;
}

.posts-wrapper {
  display: flex;
  flex-direction: column;
}

.post-comments {
  font-size: smaller;
  display: flex;
  gap: .3rem;
}

.delete-post {
  font-size: smaller;
}

.add-post {
  width: 150px;
  margin-top: 1rem;
}

#create-post-form {
  margin-top: 1rem;
  height: fit-content;
  width: fit-content;
  background-color: #cee3f8;
  padding: 1rem;
}

legend {
  text-align: center;
}

fieldset {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 1rem;
  border: none;
}

.submit-wrapper {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: .15rem;
}

.new-post-submit,
.close-form {
  width: 100px;
}

button:hover {
  cursor: pointer;
}

.upvote-clicked {
  opacity: .3;
}

.downvote-clicked {
  opacity: .3;
}

.hot-new {
  display: flex;
  gap: 1rem;
}

.hot-new button {
  width: 75px;
}

img {
  cursor: pointer;
}

.post-comment h2 {
  display: inline;
}