.post-comment {
    padding: 2rem;
    grid-row: 2/3;
}

.post-comment-wrapper {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
}

.post-comment-wrapper .post-submitter {
    padding-top: .3rem;
    font-size: small;
}

.up-down img {
    cursor: pointer;
}

.posts-wrapper {
    display: flex;
    flex: 1;
}

.post-text {
    margin-top: .3rem;
    margin-bottom: .3rem;
    padding: .5rem;
    border: 1px black solid;
    width: 100%;
    border-radius: 10px;
}

.up-down {
    display: flex;
    flex-direction: column;
}

.up-down img {
    width: 20px;
}

#comment-form {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

#comment-form button {
    width: 150px;
    margin-left: auto;
}